
/* Skills Section */
.skills {
    padding-bottom: 7rem;
    background-color: var(--bg-color);
  }
  
  .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  
  .skills-column {
    flex: 1 1 40rem;
  }
  
  .skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
  }
  
  .skills-content {
    position: relative;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
  }
  
  .progress {
    padding: 1rem 0;
  }
  
  .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
  }
  
  .progress h3 span {
    color: var(--text-color);
  }
  
  .bar {
    height: 2.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: 1rem 0;
  }
  
  .bar span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: var(--main-color);
  }
  